/**************************/
/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**************************/
/* Custom properties (variables) for colors, font-weights */

:root {
  --clr-bg: #3f625b;
  --clr-bg-tint: #5f867f;
  --clr-bg-shade: #2c4641;
  --clr-text: #ffffff;
  --clr-link: #bb5b27;
  --clr-link-tint: #bb6a3e;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-xsm: 0.75rem;
  --fs-sm: 1rem;
  --fs-md: 1.4rem;
  --fs-lg: 2rem;
  --sp-xsm: 0.5rem;
  --sp-sm: 1rem;
  --sp-md: 1.6rem;
  --sp-lg: 2rem;
}

/**************************/
/* Local Fonts */
/* google-webfonts-helper */
/* A Hassle-Free Way to Self-Host Google Fonts */
/* https://gwfh.mranftl.com/fonts */

/* inter-regular - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-greek_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - greek_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v18-greek_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/**************************/
/* General styling */

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: var(--fs-sm);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-lg);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/**************************/
/* Header */

.logo {
  width: 5rem;
}

/**************************/
/* Main section */

.main {
  max-width: 40rem; /* 640px */
}

.hero-profile-box,
.hero-description-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--sp-md);
  padding: 1.5rem;
  background-color: var(--clr-bg-shade);
  border-radius: 10px;
}

.hero-profile-box {
  margin-bottom: var(--sp-md);
}

.profile-box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-xsm);
}

.hero-heading {
  font-weight: var(--fw-bold);
  font-size: var(--fs-lg);
  letter-spacing: -0.5px;
  line-height: 1.05;
}

.hero-subheading {
  display: block;
  font-weight: var(--fw-bold);
  font-size: var(--fs-md);
  letter-spacing: 0.75px;
}

.hero-social-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--clr-text);
  transition: all 200ms;

  &:focus,
  &:hover,
  &:active {
    color: var(--clr-link);
  }
}

.hero-btn {
  cursor: pointer;
  display: inline-block;
  width: 90%;
  font-family: inherit;
  text-decoration: none;
  text-align: center;
  background-image: linear-gradient(to right, #bb5b27, #bb6a3e);
  color: var(--clr-text);
  padding: 0.8rem 1.6rem;
  border-radius: 25px;
  box-shadow: 0 10px 15px 0 rgb(95, 134, 127, 0.2);
  transition: all 200ms;

  &:focus,
  &:hover,
  &:active {
    background-image: linear-gradient(to right, #bb6a3e, #bb5b27);
  }
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btn-icon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

/**************************/
/* Footer section*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-lg);
}

.footer-contact-box {
  background-color: var(--clr-bg-shade);
  padding: 1.5rem;
  border-radius: 10px;
}

.contact-box-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-md);
  letter-spacing: 0.75px;
  margin-bottom: var(--sp-md);
  text-align: center;
}

.footer-contacts {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: var(--sp-md);
}

.contacts-box {
  display: flex;
  align-items: center;
  gap: var(--sp-sm);
}

.contacts-icon {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}

.footer-heading {
  font-weight: var(--fw-bold);
  font-size: var(--fs-sm);
}

.footer-subheading {
  font-weight: var(--fw-regular);
  font-size: var(--fs-sm);
  margin-top: var(--sp-xsm);
  /* padding-inline: 0.4rem; fix this!!! */
  transition: all 200ms;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: var(--clr-text);
  font-weight: var(--fw-bold);
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: var(--clr-link);
}

.tool-box-privacy {
  font-size: var(--fs-xsm);
}

/**************************/
/* MEDIA QUERIES */
/* changing the layout to flex-row at 704px and 984px */
/**************************/
@media (width >= 44rem) {
  :root {
    --fs-lg: 2.5rem;
    --fs-md: 1.6rem;
  }

  .logo {
    width: 7rem;
  }

  .hero-btn {
    width: 70%;
  }

  .footer-contacts {
    flex-direction: row;
    gap: var(--sp-lg);
  }

  .contacts-box {
    align-items: flex-start;
  }
}

@media (width >= 61.5rem) {
  .logo {
    width: 8rem;
  }

  .main {
    max-width: 90rem; /* 1440px */
  }

  .hero {
    display: flex;
    gap: var(--sp-md);
  }

  .hero-profile-box {
    margin-bottom: 0;
    flex: 1;
  }

  .hero-description-box {
    flex: 1;
  }

  .hero-btn {
    width: 60%;
  }

  .contacts-box {
    align-items: center;
  }
}
