/**************************/
/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**************************/
/* Custom properties (variables) for colors, font-weights */

:root {
  --clr-bg: #3f625b;
  --clr-bg-tint: #5f867f;
  --clr-bg-shade: #2c4641;
  --clr-text: hsl(0, 0%, 100%);
  --clr-link: #df895b;
  --clr-link-shade: #db743c;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

/* Google Fonts */
/**************************/
/* Inter: CSS class for a variable style
<uniquifier>: Use a unique and descriptive class name
.inter-<uniquifier> */

.inter-niforou {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--fw-regular);
  font-style: normal;
}

/**************************/
/* General styling */

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-size: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
}

/**************************/
/* Header */

.logo {
  height: 7rem;
}

/**************************/
/* Main section */

.main {
  max-width: 40rem; /* 640px */
  background-color: var(--clr-bg-tint);
  border-radius: 10px;
}

.hero {
  padding: 1.5rem;
}

.hero-profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}

.profile-box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.hero-heading {
  font-weight: var(--fw-bold);
  font-size: 2rem;
  letter-spacing: -0.5px;
  line-height: 1.05;
}

.hero-subheading {
  display: block;
  font-weight: var(--fw-semi-bold);
  font-size: 1.4rem;
  letter-spacing: 0.75px;
}

.hero-description-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.hero-btn {
  cursor: pointer;
  display: inline-block;
  width: 90%;
  font-family: inherit;
  text-decoration: none;
  text-align: center;
  /* background-color: var(--clr-bg); */
  background-image: linear-gradient(to right, #df895b, #ce8259);
  color: var(--clr-text);
  padding: 0.8rem 1.6rem;
  border-radius: 80px;
  box-shadow: 0 10px 15px 0 rgb(0, 0, 0, 0.2);
  transition: all 200ms;

  &:focus,
  &:hover,
  &:active {
    /* background-color: var(--clr-bg-shade); */
    background-image: linear-gradient(to right, #ce8259, #df895b);
  }
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn-icon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

/**************************/
/* Footer section*/

.footer-contact-box {
  background-color: var(--clr-bg-tint);
  padding: 1.5rem;
  border-radius: 10px;
}

.contact-box-title {
  font-weight: var(--fw-bold);
  font-size: 1.6rem;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
  text-align: center;
}

.footer-contacts {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  line-height: 1.5;
}

.footer-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-icon {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}

.footer-heading {
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
}

.footer-subheading,
.footer-link {
  display: block;
  font-weight: var(--fw-regular);
  font-size: 1rem;

  margin-top: 0.2rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: var(--clr-link);
}

.footer-link:hover,
.footer-link:active {
  color: var(--clr-link-shade);
}

/**************************/
/* MEDIA QUERIES */
/* changing the layout to flex-row at 800px and 960px */
/**************************/
@media (width >= 50rem) {
  .footer-contacts {
    flex-direction: row;
    gap: 2rem;
  }

  .hero-btn {
    width: 70%;
  }
}

@media (width >= 60rem) {
  .main {
    max-width: 90rem; /* 1440px */
  }

  .hero {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0.5rem;
  }

  .hero-profile-box {
    margin-bottom: 0;
    padding: 1rem;
  }

  .hero-description-box {
    padding: 1rem;
  }

  .hero-btn {
    width: 60%;
  }

  .profile-box-text {
    align-items: flex-start;
  }
}
